.App {
  text-align: center;
}

.apps {
  background-color: rgba(192,192,192,0.3);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(190, 98, 22);
  color: Black;
}

.nav-Links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.app-header {
  background-color: #474444;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  color: black;
  text-align: center;
  font-size: 190%;
  padding-left: 3%;
  min-height: 10vh;
  max-height: 20vh;
}

.logo {
  
  height: 105px;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
